<li>
	<%= content_tag( 'h3', link_to( lord_bishop_diocese_incumbency_from_diocese.person_name, lord_bishop_diocese_incumbency_show_url( :lord_bishop_diocese_incumbency => lord_bishop_diocese_incumbency_from_diocese ) ) ) %>
	<%= content_tag( 'p', lord_bishop_diocese_incumbency_from_diocese.date_range ) %>
</li>