<li>
	<%= content_tag( 'h3', link_to( lord_bishop_diocese_incumbency_from_person.bishop_title, lord_bishop_diocese_incumbency_show_url( :lord_bishop_diocese_incumbency => lord_bishop_diocese_incumbency_from_person ) ) ) %>
	<%= content_tag( 'p', lord_bishop_diocese_incumbency_from_person.date_range ) %>
</li>